*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	background: #2C3E50;
	color: #eee;
	font-family: 'Lato', sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}

pre{
	background: #263645;
	padding: 1em;
}

label{
	display: block;
	margin-bottom: 0.5em;
}

.table{
    border: 1px solid #263645;
    border-collapse: collapse;
	width: 100%;
	text-align: left;
}

.table td, .table th{
	padding: 0.8em;
	text-align: left;
}

.table th{
	background: #263645;
}

.table tr:nth-child(even) {
	background: #34495E;
}

.table tr:nth-child(odd) {
    background: #2C3E50;
}

.table a{
	text-decoration: none;
}

.table a:hover{
	text-decoration: underline;
}

.error-404{
	text-align: center;
	padding: 0.3em;
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
}

.error-404 .header{
	font-size: 3em;
}

.error-404 .logo{
	display: inline-block;
	font-size: 0.5em;
	background: #eee;
	color: #1a252f;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	border-radius: 2em;
	margin: auto;
	margin-bottom: 0.2em;
	transform: rotate(90deg);
	font-family: 'Amatic SC', cursive;
	vertical-align: middle;
}

.error-404 h1{
	font-weight: normal;
}

.login-container{
	width: 100%;
	min-height: 100%;
	background: #34495E;
	padding: 1em;
}

.login{
	max-width: 20em;
	text-align: center;
	margin: auto;
}

.login .login-head{
	padding: 3em 0 1em 0;
}

.login .logo{
	font-size: 3em;
	background: #eee;
	color: #1a252f;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	border-radius: 2em;
	display: block;
	margin: auto;
	margin-bottom: 0.2em;
	transform: rotate(90deg);
	font-family: 'Amatic SC', cursive;
}

.login .title{
	font-size: 3em;
	display: block;
	font-family: 'Amatic SC', cursive;
}

.login .subtitle{
	font-size: 1.5em;
	display: block;
	font-family: 'Amatic SC', cursive;
}

.login input, .login .alt-button{
	margin-bottom: 0.5em;
	font-size: 1.2em;
}

input, .alt-button, textarea, select, #submitbutton{
	width: 100%;
	font-size: 1em;
	font-family: inherit;
	padding: 0.5em;
	background: #2C3E50;
	color: inherit;
	border: 0px;
	display: block;
}

input[type="submit"], .login .alt-button, .alt-select, #submitbutton{
	background: #263645;
	cursor: pointer;
}

.fa.bigicon{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 6em;
	margin: 0.3em 0;
}

.sidebar{
	width: 6em;
	font-size: 0.9em;
	text-align: center;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar > .sidelink{
	color: #ccc;
	display: block;
	padding: 1em 0;
	transition: 0.3s;
}

.sidebar > .sidelink:hover{
	background: #263645;
	color: #eee;
}

.sidebar > .sidelink > .fa{
	font-size: 2em;
	display: block;
	padding-bottom: 10px;
}

.sidebar > .sidelink.sidelink-main{
	color: #eee;
	font-family: 'Amatic SC', cursive;
}

.sidebar > .sidelink.sidelink-main > .logo{
	font-size: 2.2em;
	background: #eee;
	color: #1a252f;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	border-radius: 2em;
	display: block;
	margin: auto;
	margin-bottom: 0.2em;
	transform: rotate(90deg);
}

.sidebar > .sidelink.sidelink-main > .logo.load{
	background: #E74C3C;
	color: #eee;
}
	
.sidebar > .sidelink.sidelink-main > .title{
	font-size: 1.7em;
	display: block;
}

.sidebar > .sidelink.sidelink-main > .subtitle{
	opacity: 0;
	z-index: -1;
	position: absolute;
	font-size: 1.5em;
	top: 0.7em;
	left: 3.7em;
	background: #141c24;
	padding: 0.5em;
	transition: 0.3s;
}

.sidebar > .sidelink.sidelink-main > .subtitle:before{
	content: "\A";
	position: absolute;
	top: 0.7em;
	left: -.3em;
	width: 0px;
	height: 0px;
	border-top: .4em solid transparent;
	border-bottom: .4em solid transparent; 
	border-right: .4em solid #141c24;
}

.sidebar > .sidelink.sidelink-main:hover > .subtitle{
	opacity: 1;
	z-index: 1;
}

main{
	display: inline-block;
	min-height: 100%;
	width: calc(100% - 5.4em);
	margin-left: -0.3em;
	vertical-align: top;
	padding: 1em;
	background: #34495E;
}

.left > .container, .right > .container{
	margin-bottom: 0.6em;
}

.container{
	background: #2C3E50;
	text-align: left;
}

.container > .header{
	margin: 0;
	padding: 0.8em;
	background: #263645;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.container > .header > h2{
	display: inline-block;
	font-size: 1.2em;
	vertical-align: middle;
	margin: 0;
}

.container > .header > .fa{
	display: inline-block;
	width: 1.6em;
	text-align: center;
	vertical-align: middle;
}

.container > div{
	margin: 0;
}

.container > div > div {
	padding: 1em 1em 1.5em 1em;
}

.container .desc > *{
	line-height: 1.5em;
	margin: 0 1em 0.4em 1em;
}

.container .desc > h3{
	/*font-size: 1.8em;*/
	/*font-weight: normal;*/
	margin: 0 0 0.4em 0;
}

.container div.selector{
	padding: 1em;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	/*text-align: center;*/
}

.container div.selector > span{
	cursor: default;
}

.container div.selector > .right{
	float: right;
}

.container div.selector > .right > i.fa{
	display: inline-block;
	width: 2em;
	text-align: center;
	cursor: pointer;
}

.container .submitbox > textarea{
	display: none;
}

/*.container div.selector > .fa-arrow-left{*/
/*	float: left;*/
/*	cursor: pointer;*/
/*}*/

/*.container div.selector > .fa-arrow-right{*/
/*	float: right;*/
/*	cursor: pointer;*/
/*}*/

.container iframe{
	width: 100%;
	min-height: 40em;
}

.clars tr{
	vertical-align: top;
}

.answer.Yes, .score-100{
	color: #54d98c;
}

.answer.No, .score-0{
	color: #ed7669;
}

.head{
	margin-bottom: 1em;
}

#editor{
	height: 20em;
	font-size: 1em;
}

#submitbutton{
	padding: 1em;
}

.monospace{
	font-family: monospace;
}